name: yml file
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    container: rzsolt/git-pub:latest
    steps:
      - uses: actions/checkout@v2
      - name: docker build
        run: |
          g++ -v \
          valgrind --version
     # - run: echo 'Compiling LaTeX document...'
     # - run: make 
     # - run: echo 'Storing artifact...'
     # - uses: actions/upload-artifact@v1
     #   with:
     #     name: Final document
     #     path: thesis_with_cover.pdf
